// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------
.btn{
    display: inline-block;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    border: none;
    padding: .375rem .75rem;
    text-decoration: none;
    color: map-get($theme-colors, "primary");
    transition: 0.3s;
    @include on-event{
        cursor: pointer;
    }  
 }

 @each $name,$color in $theme-colors {
    .btn-#{$name}{
        @extend .btn;
        background: $color;
        color: white;
        @include on-event{
            background: darken($color, 10%);
        }
    }
 }